/*
   Spezific styling for salvattore
   Feel free to edit it as you like
   More info at http://salvattore.com
 */

/* Base styles */
.column {
    float: left;
}
.size-1of8 {
    width: 12.5%;
}
.size-1of6 {
    width: 16.66%;
}
.size-1of5 {
    width: 20%;
}
.size-1of4 {
    width: 25%;
}
.size-1of3 {
    width: 33.333%;
}
.size-1of2 {
    width: 50%;
}
.size-1of1 {
    width: 100%;
}

.item{
    padding-left: 5px;
    padding-right: 5px;
}

/* Configurate salvattore with media queries */
@media screen and (max-width: 450px) {
    #timeline[data-columns]::before {
        content: '2 .column.size-1of2';
    }
}

@media screen and (min-width: 451px) and (max-width: 700px) {
    #timeline[data-columns]::before {
        content: '3 .column.size-1of3';
    }
}

@media screen and (min-width: 701px) and (max-width: 850px) {
    #timeline[data-columns]::before {
        content: '4 .column.size-1of4';
    }
}

@media screen and (min-width: 851px) {
    #timeline[data-columns]::before {
        content: '4 .column.size-1of4';
    }
}

@media screen and (min-width: 1200px) {
    #timeline[data-columns]::before {
        content: '4 .column.size-1of4';
    }
}

@media screen and (min-width: 2000px) {
    #timeline[data-columns]::before {
        content: '6 .column.size-1of6';
    }
}