.title-bar {
    width: 100%;
    background-color: #ffe;
    padding: 15px;
}

.standard-form {
    border: 0px solid #171;
    border-top: 6px solid #171;
    background-color: #fff;
    margin: 0px 0px 10px 0px;
}

.standard-form .standard-form-header {
    padding: 0px 0px 0px 10%;
    background-color: #222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #eff;
}

.standard-form .standard-form-body {
    padding: 20px;
}

.footer {
    background-color: #333;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: #ccc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
}