.stat-box {
    margin: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
}

.stat-box-header {
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #acf;
    color: #357;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 1.2em;
}

.stat-box-body {
    padding: 6px;
    background-color: #eff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}